/project/vendor/
/project/web/core
/project/web/libraries
/project/web/modules/contrib/
/project/web/sites/**/files/
/project/web/sites/**/service*.yml
/project/web/sites/**/settings*.php
/project/web/.csslintrc
/project/web/.eslintignore
/project/web/.eslintrc.json
/project/web/.ht.router.php
/project/web/.htaccess
/project/web/autoload.php
/project/web/example.gitignore
/project/web/index.php
/project/web/INSTALL.txt
/project/web/README.md
/project/web/robots.txt
/project/web/update.php
/project/web/web.config
!**/.gitkeep
